<!DOCTYPE html>
<html>
<head>
<style>

.header {
  background-color: #8FBC8F;
  text-align: center;
  padding: 20px;
  
  
}
body {
	background-color: mistyrose;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8FBC8F;
  text-align: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
   font-family:"Trebuchet MS", Helvetica, sans-serif;
}

li a:hover {
  background-color: #bc8f8f;
}

h1 {
  color: RosyBrown;
  text-align: center;
   font-family:"Trebuchet MS", Helvetica, sans-serif;
}

p {
  font-family: timesnewroman;
  font-size: 20px;
  color:mintcream;
  text-align:center;
   font-family: "Georgia, serif"
}
</style>
</head>
<body>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #8FBC8F;
  padding: 20px;
  text-align: center;
 
}
</style>
</head>
<body>

<div class="header">

</div>

<h1>WELCOME TO DENNY'S</h1>
<p>Lonely as a whisper on a star chase, stare at the moon all day <br>★</br> Bright are the stars that shine, dark is the night </p>

</style>
</head>
<body>

<ul>
  <li style="font-size:120%;"><a class="active" href="/index.html">HOME</a></li>
  <li style="font-size:120%;"><a href="/ABOUT/index.html">ABOUT</a></li>
  <li style="font-size:120%;"><a href="/Work Portfolio/index.html">WORK</a></li>
  <li style="font-size:120%;"><a href="/travelgallery.html">MUSIC</a></li>
  <li style="font-size:120%;"><a href="/Contact/index.html">CONTACT</a></li>
</ul>


</body>
</html>
