<!DOCTYPE html>
<style>

/* The coding for the header allows it to look the way I want it with the color and symbols I wanted*/
.header {
  background-color: #8FBC8F;
  text-align: center;
  padding: 20px;
  color: MistyRose;


/*This makes the background for all of my pages on the website to have the pink color*/  
}
body {
	background-color: mistyrose;
}

/* This coding makes my navigation bar green*/
ul {
 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8FBC8F;
  text-align: center;
}

/* This makes the naviation bar aligned to the left */
li {
  float: left;
}

/* This makes the text in the navigation bar have the white text with the font I wanted*/
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 6px 80px;
  text-decoration: none;
   font-family:"Trebuchet MS", Helvetica, sans-serif;
}

/* This makes the buttons turn brown whenever I hover over the options on my navigation bar*/
li a:hover {
  background-color: #bc8f8f;
}

/* This makes the text brown with the font I want*/
h1 {
  color: RosyBrown;
  text-align: center;

/* This makes the paragraph text I typed into my page in the style that I wanted it to be in*/
p {
  font-size: 20px;
  color: RosyBrown;
  color: DarkSeaGreen;
  text-align:center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

</style>
</head>
<body>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

/* This makes the body text have no margins */
body {
margin: 0;
}
</style>
</head>
</body>
